<form action="/add" method="POST">
    <p>Titulo: <input type="text" name="titulo"></p>
    <p>Conteudo:</p>
    <textarea name="conteudo" cols="30" rows="10"></textarea>
    <button type="submit">Cadastrar postagem</button>
</form>
